/*body { font-family: 'THSarabunNew', sans-serif; }*/ 

body{ font-family: "Kanit", sans-serif; }
.divshadow {
    box-shadow:1px 1px 1px 0px #777;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz--border-radius: 5px;
}
 hr {margin: 7px 0;}
 .f12p {font-size:12px;}
 .f14p {font-size:14px;}